.submit-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: "0 auto"; */
  background-color: rgb(146, 54, 173);
  color: aliceblue;
}

.img-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-cont img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.submit-container p {
  text-align: center;
}
.star-contaniner {
  background-color: rgb(13, 190, 221);
  width: 120px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.star-contaniner span {
  font-size: 900;
  font-weight: bold;
}
.star-value {
  font-size: 900;
}
@media screen and (max-width: 600px) {
  .submit-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: "0 auto"; */
    background-color: blueviolet;
    color: aliceblue;
  }
  .img-cont img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .submit-container p {
    text-align: center;
  }
  .karma-text {
    text-align: center;
    margin-left: 35px;
  }
}
